<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code of Conduct</title>

    <!-- styles -->
    <link rel="stylesheet" href="../src/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="../src/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- scripts -->
    <script src="../src/jquery.js"></script>
    <script src="../src/bootstrap.min.js"></script>
    <script src="../src/script.js"></script>

    <style>
        body {
            font-family: 'Open Sans', san-serif;
        }

        .col-md-4 {
            margin-bottom: 30px;
        }

        #accordion .card-header {
            background: #006c37;
        }
        #accordion .card-header:hover {
            background: #0a8a4c;
        }
        #accordion .card-header .btn-link {
            color: #fff;
            font-size: large;
        }
        .btn-link:hover,
        .btn-link:focus {
            text-decoration: none;
            transform: scale(1.1)
        }

        .coc {
            height: 30vh;
            margin: 0 auto;
            box-shadow: #404040 0 1px 1px;
            padding-top: 12vh;
        }
    </style>
</head>

<body>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-light pt-3 pb-3"><small>TUG<span class="text-warning">A</span>R</small> | Ethics
                        Platform</h4>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./problemStatement.html">Problem Statement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./survey.html">Survey Report</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Code of Conduct</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="pt-5">
        <div class="container">
            <h3 class="text-center">Available Code of Conduct and Ethics</h3>
            <hr />
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-user-tie"></i> Professional Bodies
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/coren.jpg" alt=""></a>
                                        <p class="pt-3">COREN<br />Engineer's Code of Conduct </p>
                                        <span>
                                            <a class="btn btn-outline-success btn-sm"
                                                href="./codeOfConduct/engineers.html">
                                                View <i class="fas fa-eye"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/ican.jpg" height="50px" alt=""></a>
                                        <p>The Institue of Chartered Accountants of Nigeria. Professional Code of
                                            Conduct and Ethics</p>
                                        <span>
                                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/ican.html">
                                                View <i class="fas fa-eye"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-briefcase"></i> Public Agencies
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/firs.png" alt=""></a>
                                        <p>FIRS Code of Ethics</p>
                                        <span>
                                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/firs.html">
                                                View <i class="fas fa-eye"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-landmark"></i> Private Business Entities
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <div class="col-container">
                                            <a><img src="../img/logo/julius-berger.png" height="45" alt=""></a>
                                            <p>Code of Business Conduct and Ethics for Directors and Management</p>
                                        </div>
                                        <span>
                                            <a class="btn btn-outline-success btn-sm"
                                                href="./codeOfConduct/juliusberger.html">
                                                View <i class="fas fa-eye"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-building"></i> Private Business Associations
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/naccima.gif" alt=""></a>
                                        <p>NACCIMA Code of Ethics
                                            <br/>
                                            <small>(Nigerian Association of Chambers of Commerce, Industry, Mines and Agriculture)</small>
                                        </p>
                                        <span>
                                            <a class="btn btn-outline-success btn-sm"
                                                href="./codeOfConduct/naccima.html">
                                                View <i class="fas fa-eye"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-fist-raised"></i> NGOs
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/wimn.png" alt=""></a>
                                        <p>Women in Mining<br />Code of Conduct and Ethics</p>
                                        <span>
                                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/wim.html">
                                                View <i class="fas fa-eye"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row pt-3">
                <div class="col-md-4">
                    <div class="card coc">
                        <div class="col-container">
                            <a><img src="../img/logo/julius-berger.png" height="45" alt=""></a>
                            <p>Code of Business Conduct and Ethics for Directors and Management</p>
                        </div>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/juliusberger.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/cibn.jpeg" alt=""></a>
                        <p>Code of Conduct in The Nigerian Banking Industry.</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/cibn.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/naccima.gif" alt=""></a>
                        <p>NACCIMA Code of Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/naccima.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/coren.jpg" alt=""></a>
                        <p class="pt-3">COREN<br />Engineer's Code of Conduct </p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/engineers.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/firs.png" alt=""></a>
                        <p>FIRS Code of Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/firs.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/ican.jpg" height="50px" alt=""></a>
                        <p>The Institue of Chartered Accountants of Nigeria. Professional Code of Conduct and Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/ican.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/wimn.png" alt=""></a>
                        <p>Women in Mining<br />Code of Conduct and Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/wim.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div> -->
        </div>
    </main>

    <hr />

    <footer>
        <div id="partners" class="text-center">
            <div class="container">
                <h3>Partners</h3>
                <hr width="100">
                <div class="row text-center">
                    <div class="col-md-6"><img src="../img/ppdclogo.png" alt=""></div>
                    <div class="col-md-6"><img src="../img/logo/logo_tugar.png" alt=""></div>
                </div>
            </div>
        </div>

        <div id="footer" class="bg-dark text-light">
            <div class="container pt-5">
                <div class="row">
                    <div class="col text-right">
                        <h4>Address</h4>
                        <p>
                            Block L, House No. 2,<br />
                            Plot 662, Mercy Samuelson Estate,<br />
                            Karmo District, Abuja.
                        </p>
                    </div>
                    <div class="col text-left" id="social-icons">
                        <h4>Social</h4>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <hr class="hr-bold" width="50">
                <h6 class="text-center">&copy; 2019, Public and Private Development Center.</h6>
            </div>
        </div>

    </footer>
</body>

</html>