<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code of Conduct</title>

    <!-- styles -->
    <link rel="stylesheet" href="../src/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="../src/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- scripts -->
    <script src="../src/jquery.js"></script>
    <script src="../src/bootstrap.min.js"></script>
    <script src="../src/script.js"></script>

    <style>
        body {
            font-family: 'Open Sans', san-serif;
        }

        .col-md-4 {
            margin-bottom: 30px;
        }

        #accordion .card-header {
            background: #006c37;
        }

        #accordion .card-header:hover {
            background: #0a8a4c;
        }

        #accordion .card-header .btn-link {
            color: #fff;
            font-size: large;
        }

        .btn-link:hover,
        .btn-link:focus {
            text-decoration: none;
            transform: scale(1.1)
        }

        .coc {
            height: 30vh;
            margin: 0 auto;
            box-shadow: #404040 0 1px 1px;
            padding-top: 12vh;
        }
    </style>
</head>

<body>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-light pt-3 pb-3"><small>TUG<span class="text-warning">A</span>R</small> | Ethics
                        Platform</h4>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./problemStatement.html">Problem Statement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./survey.html">Survey Report</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Code of Conduct</a>
                </li>
                <li class="nav-item border">
                    <a class="nav-link" href="./feedback.html">Drop a Feedback</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="pt-5">
        <div class="container">
            <h3 class="text-center">Available Code of Conduct and Ethics</h3>
            <hr />
            <div id="accordion">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-user-tie"></i> Professional Bodies
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/coren.jpg" alt=""></a>
                                        <p class="pt-3">COREN<br />Engineer's Code of Conduct </p>
                                        <!-- Button trigger modal -->
                                        <br />
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#corenModal">
                                            View Details
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="corenModal" tabindex="-1" role="dialog"
                                            aria-labelledby="corenModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="corenModalLongTitle">
                                                            The Council for the Regulation of Engineering in Nigeria
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-justify p-3">
                                                            The Council for the Regulation of Engineering in Nigeria,
                                                            COREN, is a body set-up by the Decrees 55/70 and 27/92 (now
                                                            Acts 110). The Decrees empowered the Council to regulate and
                                                            control the training and practice of engineering in Nigeria
                                                            and to ensure and enforce the registration of all
                                                            engineering personnel (i.e. Engineers, Engineering
                                                            Technologists, Engineering Technicians, and Engineering
                                                            Craftsmen) and consulting firms wishing to practice or
                                                            engage in the practice of engineering.<br />
                                                        </p>
                                                        <hr />
                                                        <small class="text-muted">
                                                            <b>Head Office:</b> 22 Addis Ababa Crescent Wuse Zone 4,
                                                            P.O.Box 8461,Wuse, Abuja.<br />
                                                            <b>Web:</b> https://coren.gov.ng/<br />
                                                            <b>Mail:</b> info@coren.gov.ng<br />
                                                            <b>Phone:</b> 0814-509-0579
                                                        </small>
                                                        <hr />
                                                        <span>
                                                            <a class="btn btn-outline-success btn-sm"
                                                                href="./codeOfConduct/engineers.html">
                                                                View Code of Conduct <i class="fas fa-eye"></i>
                                                            </a>
                                                        </span>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/ican.jpg" height="50px" alt=""></a>
                                        <p>The Institue of Chartered Accountants of Nigeria. Professional Code of
                                            Conduct and Ethics</p>

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#icanModal">
                                            View Details
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="icanModal" tabindex="-1" role="dialog"
                                            aria-labelledby="icanModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="icanModalLongTitle">
                                                            The Institute of Chartered Accountants of Nigeria (ICAN)
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-justify p-3">
                                                            The Institute of Chartered Accountants of Nigeria (ICAN) was
                                                            established by Act of Parliament No. 15 of 1965 to produce
                                                            world-class Chartered Accountants, regulate and continually
                                                            enhance their ethical standards and technical competence in
                                                            the public interest. And to determine what standards of
                                                            knowledge and skill are to be attained by persons seeking to
                                                            become members of the accountancy profession and to raise
                                                            those standards from time to time as circumstances may
                                                            permit, among other functions.
                                                        </p>
                                                        <hr />
                                                        <small class="text-muted">
                                                            <b>Address:</b> 2048 Michael Okpara St, Wuse, Abuja<br />
                                                            <b>Web:</b> http://www.icanig.org/<br />
                                                        </small>
                                                        <hr />
                                                        <span>
                                                            <a class="btn btn-outline-success btn-sm"
                                                                href="./codeOfConduct/ican.html">
                                                                View Code of Conduct <i class="fas fa-eye"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-briefcase"></i> Public Agencies
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/firs.png" alt=""></a>
                                        <p>FIRS Code of Ethics</p>
                                        <!-- Button trigger modal -->
                                        <br />
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#firsModal">
                                            View Details
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="firsModal" tabindex="-1" role="dialog"
                                            aria-labelledby="firsModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="firsModalLongTitle">
                                                            Federal Inland Revenue Service
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-justify p-3">
                                                            The Mission of the FIRS is To operate a transparent and an
                                                            efficient tax system that optimises tax revenue collection
                                                            and voluntary compliance."
                                                        </p>
                                                        <hr />
                                                        <small class="text-muted">
                                                            <b>Head Office:</b> Revenue House,
                                                            20 Sokode Crescent,
                                                            Wuse Zone 5,
                                                            Abuja
                                                            Nigeria <br />
                                                            <b>Web:</b> https://www.firs.gov.ng/<br />
                                                            <b>Mail:</b>
                                                            helpdesk@firs.gov.ng,​
                                                            enquiries@firs.gov.ng,​
                                                            ​complaints@firs.gov.ng,
                                                            servicom@firs.gov.ng<br />
                                                            <b>Phone:</b> 09074444441, 09074444442, 09072111111,
                                                            09073777777
                                                        </small>
                                                        <hr />
                                                        <span>
                                                            <a class="btn btn-outline-success btn-sm"
                                                                href="./codeOfConduct/firs.html">
                                                                View Code of Ethics <i class="fas fa-eye"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-landmark"></i> Private Business Entities
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <div class="col-container">
                                            <a><img src="../img/logo/julius-berger.png" height="45" alt=""></a>
                                            <p>Code of Business Conduct and Ethics for Directors and Management</p>
                                        </div>
                                        <!-- Button trigger modal -->
                                        <br />
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#juliusbergerModal">
                                            View Details
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="juliusbergerModal" tabindex="-1" role="dialog"
                                            aria-labelledby="juliusbergerModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title w-100" id="juliusbergerModalLongTitle">
                                                            Julius Berger
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-justify p-3">
                                                            Julius Berger Nigeria Plc (Julius Berger) is a leading
                                                            construction company offering integrated solutions and
                                                            related services. Julius Berger specializes in executing
                                                            complex works that require the highest level of technical
                                                            expertise and Nigeria-specific knowhow.
                                                        </p>
                                                        <hr />
                                                        <small class="text-muted">
                                                            <b>Head Office:</b> 10 Shettima A. Munguno Crescent | Utako
                                                            900 108 | FCT Abuja<br />
                                                            <b>Web:</b> https://www.julius-berger.com/<br />
                                                        </small>
                                                        <hr />
                                                        <span>
                                                            <a class="btn btn-outline-success btn-sm"
                                                                href="./codeOfConduct/juliusberger.html">
                                                                View Code of Business Conduct <i class="fas fa-eye"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-building"></i> Private Business Associations
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/naccima.gif" alt=""></a>
                                        <p class="mb-0">NACCIMA Code of Ethics</p>
                                        <small>(Nigerian Association of Chambers of Commerce, Industry, Mines and
                                            Agriculture)</small>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#naccimaModal">
                                            View Details
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="naccimaModal" tabindex="-1" role="dialog"
                                            aria-labelledby="naccimaModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="naccimaModalLongTitle">
                                                            Nigerian Association of Chambers of Commerce, Industry,
                                                            Mines and Agriculture
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-justify p-3">
                                                            The Mission of NACCIMA As 'the Voice of Nigerian Business',
                                                            is ensuring an enabling business environment through policy
                                                            advocacy, promoting growth and competitiveness of businesses
                                                            through proper and prompt information dissemination, using
                                                            modern technology comparable to the best universal standard
                                                            of Chambers of Commerce and Industry anywhere in the world.
                                                        </p>
                                                        <hr />
                                                        <small class="text-muted">
                                                            <b>Head Office:</b>National Secretariat:
                                                            8A Oba Akinjobi Way, Ikeja-GRA, Lagos. <br />
                                                            <b>Web:</b> https://www.naccima.com/<br />
                                                            <b>Mail:</b> info@naccima.com<br />
                                                            <b>Phone:</b> 0802 094 1203
                                                        </small>
                                                        <hr />
                                                        <span>
                                                            <a class="btn btn-outline-success btn-sm"
                                                                href="./codeOfConduct/naccima.html">
                                                                View Code of Ethics <i class="fas fa-eye"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-fist-raised"></i> NGOs
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card coc">
                                        <a href=""><img src="../img/logo/wimn.png" alt=""></a>
                                        <p>Women in Mining<br />Code of Conduct and Ethics</p>

                                        <!-- Button trigger modal -->
                                        <br />
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#wimnModal">
                                            View Details
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="wimnModal" tabindex="-1" role="dialog"
                                            aria-labelledby="wimnModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="wimnModalLongTitle">
                                                            Women In Mining Nigeria
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-justify p-3">
                                                            Women in Mining in Nigeria (WIMIN) is a non-profit
                                                            organisation established to protect the rights of all groups
                                                            of women affected by mining operations.
                                                        </p>
                                                        <hr />
                                                        <small class="text-muted">
                                                            <b>Head Office:</b> Plot 1240 Shop 102, Dabo Mall, Samuel
                                                            Ladoke
                                                            Akintola Boulevard, Garki II – Abuja.<br />
                                                            <b>Web:</b> https://wimng.org/<br />
                                                            <b>Phone:</b>+2348034415949, +2348037876241
                                                        </small>
                                                        <hr />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <span>
                                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/wim.html">
                                                View Code of Conduct and Ethics <i class="fas fa-eye"></i>
                                            </a>
                                        </span> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row pt-3">
                <div class="col-md-4">
                    <div class="card coc">
                        <div class="col-container">
                            <a><img src="../img/logo/julius-berger.png" height="45" alt=""></a>
                            <p>Code of Business Conduct and Ethics for Directors and Management</p>
                        </div>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/juliusberger.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/cibn.jpeg" alt=""></a>
                        <p>Code of Conduct in The Nigerian Banking Industry.</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/cibn.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/naccima.gif" alt=""></a>
                        <p>NACCIMA Code of Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/naccima.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/coren.jpg" alt=""></a>
                        <p class="pt-3">COREN<br />Engineer's Code of Conduct </p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/engineers.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/firs.png" alt=""></a>
                        <p>FIRS Code of Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/firs.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/ican.jpg" height="50px" alt=""></a>
                        <p>The Institue of Chartered Accountants of Nigeria. Professional Code of Conduct and Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/ican.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card coc">
                        <a href=""><img src="../img/logo/wimn.png" alt=""></a>
                        <p>Women in Mining<br />Code of Conduct and Ethics</p>
                        <span>
                            <a class="btn btn-outline-success btn-sm" href="./codeOfConduct/wim.html">
                                View <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div> -->
        </div>
    </main>

    <hr />

    <footer>
        <div id="partners" class="text-center">
            <div class="container">
                <h3>Partners</h3>
                <hr width="100">
                <div class="row text-center">
                    <div class="col-md-6"><img src="../img/ppdclogo.png" alt=""></div>
                    <div class="col-md-6"><img src="../img/logo/logo_tugar.png" alt=""></div>
                </div>
            </div>
        </div>

        <div id="footer" class="bg-dark text-light">
            <div class="container pt-5">
                <div class="row">
                    <div class="col text-right">
                        <h4>Address</h4>
                        <p>
                            Block L, House No. 2,<br />
                            Plot 662, Mercy Samuelson Estate,<br />
                            Karmo District, Abuja.
                        </p>
                    </div>
                    <div class="col text-left" id="social-icons">
                        <h4>Social</h4>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <hr class="hr-bold" width="50">
                <h6 class="text-center">&copy; 2019, Public and Private Development Center.</h6>
            </div>
        </div>

    </footer>
</body>

</html>