<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ethics - Home</title>

    <!-- styles -->
    <link rel="stylesheet" href="../src/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="../src/styles.css" />

    <!-- scripts -->
    <script src="../src/jquery.js"></script>
    <script src="../src/bootstrap.min.js"></script>
    <script src="../src/script.js"></script>
</head>

<body>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-light pt-3 pb-3"><small>TUG<span class="text-warning">A</span>R</small> | Ethics
                        Platform</h4>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Problem Statement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./survey.html">Survey Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./codeOfConduct.html">Code of Conduct</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="bg-light p-3">
        <article class="card mt-3 p-5 container text-justify">
            <h2>Problem Statement</h2>
            <hr width="50%" />
            <p>
                Nigeria has taken several steps to move toward lower levels of corruption and greater
                transparency and accountability. The Constitution of Nigeria (1999) provides a clear
                directive in Section 15(5) that the “Government shall eradicate all corrupt practices and
                abuse of power”. Several enabling laws have been enacted to implement this directive,
                including the Code of Conduct Bureau and Tribunal Act 1990, Independent Corrupt
                Practices & Other Related Offences Act 2000, Economic and Financial Crimes
                Commission Act 2004, Fiscal Responsibility Act 2007, and Money Laundering
                Prohibition Act 2011 as amended. In the past decade or more, the Federal Government
                of Nigeria has enacted major legislations specifically impacting transparency and
                accountability in governance, including but not limited to the Nigeria Extractive
                Industries Transparency Initiative (NEITI) Act 2007, and the Freedom of Information (FOI)
                Act 2011 <sup>1</sup>.
            </p>
            <p>
                However, corruption and opacity in decision making continue to feature in public
                discourse and a culture of secrecy within government remains a matter of concern.
                Transparency International's Corruption Perceptions Index ranked Nigeria 136 of 175
                countries in 2015. Other indicators support this assessment. The Rule of Law Index
                ranked Nigeria 96 of 104 countries in 2015. The Global Competitiveness Report 2015-
                16 cited corruption as the second most important factor that hindered business in the
                country. Apart from external assessments, 72 percent of Nigerian citizens believe that
                corruption in the country has worsened over recent years <sup>2</sup>.
            </p>
            <p>
                According to the last Transparency International corruption index, Nigeria now ranks
                148th (together with Comoros and Guinea) among 180 countries surveyed. Previous
                ranking for 2016 placed Nigeria at the 136th position with a CPI score of 28 out of 100.
                The 2017 report does not indicate improvement from previous years. The problem is not
                that government is not trying to combat corruption, rather it appears the challenge is a
                very limited focus on implementing education and prevention programs and the
                absence of strong leadership on ethics issues. An effective and consistent ethics
                framework provides one of the most effective tools to educate against and prevent
                corruption, because corruption activities often first involve ethics breaches. Ethics
                supports a merit based system and helps to prevent administrative infractions that
                make corruption possible or weaken the ability of the system to detect and punish it. A
                strong and effective ethics infrastructure is an important missing link in Nigeria's fight
                against corruption.
            </p>
            <p>
                Ethics generally, or more precisely professional ethics, has been defined as a system of
                shared values and norms that delineate how public servants – as agents of the state and
                members of established professions should exercise judgment and discretion in carrying out their
                official duties<sup>3</sup>. However the requirement for ethics goes beyond the
                established professions, given the fact that the practice of every vocation requires a
                measure of consistency in integrity. The ethics infrastructure in Nigeria has a role in
                governing the Civil service, business sector, civil society (CSO), professional bodies and
                the informal economic sector.
            </p>
            <p>
                The Code of Conduct for public officers (CCPO) governs the activities of all officials
                working in the public sector. It is the foremost ethics document in Nigeria and is
                embedded and forms part of the 1999 Constitution of the Federal Republic of Nigeria<sup>4</sup>.
                Nigeria has also created two institutions with the sole aim of enforcing the Code of
                Conduct for Public Officers (CCPO) - the Code of Conduct Bureau<sup>5</sup> and the Code of
                Conduct Tribunal<sup>6</sup>.
            </p>
            <p>
                Those working in the business sector, Civil Society Organizations (CSOs), informal
                associations and professional bodies voluntarily adopt codes of ethics to govern their
                activities or have their codes mandated by law. The latter is the case with recognized
                professional bodies in Nigeria.
            </p>
            <p>
                The Code of Conduct for Public Officers (CCPO) sets out the broad acceptable standard
                of behavior when carrying out official duties or exercising discretion within the public
                service. In government organizations, there are several other instruments that similarly
                regulate conduct such as the Public Service Rules, handbooks, and manuals.
                Specifically, the professional bodies each have ethics rules that ought to set them apart,
                and which in all cases applies to all their members, whether in the public or private
                sector. Private businesses particularly high net worth businesses, also have rules that
                regulate conduct of their staff, as well as those holding positions of trust in their
                organizations. The rules in the informal sector remain as informal as the organizations
                and often will not have basic ethics elements. In the public sector, among private
                businesses, and professionals in the various fields of expertise in Nigeria, ethics
                infractions frequently occur. Despite this situation, there is limited evidence of records
                of sanctions except in the case of a few professional bodies. This is despite the fact that
                high levels of corruption are often an indication of a weak ethics environment and vice
                versa. Since there is significant existence of ethics codes, this situation either points to
                poor implementation of ethics rules or highlights that something may be amiss in the
                ethics rules themselves.
            </p>
            <p>
                Codes of conduct, codes of ethics and other organizational documents such as staff
                handbook, manuals, bye-laws, rules, regulations developed to serve the same purpose
                as a code of ethics or a code of conduct should impact on how public servants, business
                men and women in private organizations and professionals carry out their official duties
                or exercise official discretion, but this does not always seem to be the case.
            </p>
            <p>
                The ethics environment in the public service in Nigeria is fraught with challenges and
                the public service is portrayed as self-seeking, venal and nepotistic. Fraud, extortion,
                embezzlement, bribery, influence peddling, bestowing of favors to friends, gross
                indiscipline, lack of accountability, are said to be pervasive or to have been
                institutionalized<sup>7</sup>. This is grounded in the progressive reduction of levels of application
                of competence and merit as basis for recruitment, advancement and rewards in the
                public space.
            </p>
            <p>
                Such challenges are not limited to the public sector. It was previously observed that
                distress in banks in Nigeria in the last two decades has been consequent upon various
                forms of unethical practices such as corruption, embezzlement, fund misappropriation,
                computer fraud, actual stealing, leaking of confidential information, forgery,
                impersonation and other vicious practices<sup>8</sup>.
            </p>
            <p>
                The fact that ethics codes exist but are unable to substantially influence and regulate
                standards of conduct in both the private and public sector, as evidenced by high levels of
                corruption, and other identified challenges is evidence that something is amiss. This
                project therefore seeks to identify the problem by surveying the ethics framework
                existing in a broad number of organizations across different sectors in Nigeria, based on
                four broad criteria distilled from national laws, sub-regional, regional, and global
                governance instruments to which Nigeria is a signatory. It will also highlight issues
                outside the ethics framework that substantially impedes its implementation.
            </p>

            <aside class="card pt-3 pl-5 pr-5 pb-3 text-secondary">
                <h5>Resource</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        SCOPING SURVEY AND GAP ANALYSIS OF THE ETHICS FRAMEWORK IN NIGERIA. 2018
                    </li>
                </ul>
                <!-- <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>1. </strong>Improving Transparency and Accountability in Public Private Partnerships;
                        World Bank PPIAF Disclosure
                        Diagnostic Report Nigeria 2017<br />
                    </li>

                    <li class="list-group-item"><strong>2. </strong>ibid </li>
                    <li class="list-group-item">
                        <strong>3.</strong>United Nations Department of Economics and Social Affairs - Division of
                        Public Economics and Public Administration,
                        “Public Service Ethics in Africa Vol. 1 (New York 2001) 8"
                        <br /><em>
                            https://publicadministration.un.org/publications/content/PDFs/
                            E-Library%20Archives/2001%20Public%20Service%20Ethics%20in%20Africa,%20Vol.%201.pdf
                        </em> accessed 27th April 2018.
                    </li>
                    <li class="list-group-item">
                        <strong>4. </strong>Section 1, Part 1 of the 5 th Schedule to the 1999 Constitution
                    </li>
                    <li class="list-group-item">
                        <strong>5. </strong>Third Schedule Part 1
                    </li>
                    <li class="list-group-item">
                        <strong>6. </strong>Section 15, Part 1 of the 5 th Schedule to the 1999 Constitution.
                    </li>

                    <li class="list-group-item">
                        <strong>7. </strong>Bernard Oladosu Omisore, Ph.D, “Work Ethics, Values, Attitudes and
                        Performance in the Nigerian
                        Public Service:
                        Issues, Challenges and the Way Forward” published in the Journal of Public Administration and
                        Governance
                        ISSN 2161-7104 2015, Vol. 5, No. 1
                    </li>

                    <li class="list-group-item">
                        <strong>8. </strong>Anthony Mayomi Oladoyin, D.O Elomilu and T. O Asholu J. soc, sci 21 -28
                        (2005)
                        http://krepublishers.com/
                        02-Journals/JSS/JSS-11-0-000-000-2005
                    </li>
                </ul> -->
            </aside>
        </article>
    </main>

    <footer>
        <div id="partners" class="text-center">
            <div class="container">
                <h3>Our Partners</h3>
                <hr width="100">
                <div class="row text-center">
                    <div class="col-md-6"><img src="../img/ppdclogo.png" alt=""></div>
                    <div class="col-md-6"><img src="../img/logo/logo_tugar.png" alt=""></div>
                </div>
            </div>
        </div>

        <div id="footer" class="bg-dark text-light">
            <div class="container pt-5">
                <div class="row">
                    <div class="col text-right">
                        <h4>Address</h4>
                        <p>
                            Block L, House No. 2,<br />
                            Plot 662, Mercy Samuelson Estate,<br />
                            Karmo District, Abuja.
                        </p>
                    </div>
                    <div class="col text-left" id="social-icons">
                        <h4>Social</h4>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <hr class="hr-bold" width="50">
                <h6 class="text-center">&copy; 2019, Public and Private Development Center.</h6>
            </div>
        </div>

    </footer>
</body>

</html>