<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ethics - FIRS</title>
    <!-- styles -->
    <link rel="stylesheet" href="../../src/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <style>
        body {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        embed {
            height: 100vh;
            width: 100%;
        }
    </style>
    <!-- scripts -->
    <script src="../../src/jquery.js"></script>
    <script src="../../src/bootstrap.min.js"></script>
    <script src="../../src/script.js"></script>
</head>

<body>
    <main class="container pt-1">
        <embed src="../../docs/FIRS CODE OF ETHICS.pdf?zoom=200" />
        <!-- <iframe src="../../docs/FIRS CODE OF ETHICS.pdf" frameborder="0"></iframe> -->
    </main>
</body>

</html>