<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ethics - WIMIN</title>
    <!-- styles -->
    <link rel="stylesheet" href="../../src/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="../../src/codeOfConduct.css" />
    <!-- scripts -->
    <script src="../../src/jquery.js"></script>
    <script src="../../src/bootstrap.min.js"></script>
    <script src="../../src/script.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <h5 class="text-center text-light">Women in Mining in Nigeria Code of Conduct
                <small><a href="../codeOfConduct.html" class="float-left"><i class="fas fa-caret-left"></i>
                        Back</a></small>
                <small><a href="../../index.html"" class=" float-right">Home</a></small>
            </h5>
        </div>
    </header>
    <main class="container pt-1">
        <embed src="../../docs/WIM CODE OF CONDUCT.pdf" />
        <!-- <iframe src="../../docs/FIRS CODE OF ETHICS.pdf" frameborder="0"></iframe> -->
    </main>
</body>

</html>